.background{
    background-image:url("/pattern.svg");
    height: 100vh;
    text-align: center;
}
.text{
    position: absolute;
    left: 400px;
    top: 220px;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    font-weight: bold;
    color:white;
}
.input{
    position: absolute;
    left: 450px;
    top: 270px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 450px;
    top: 300px;
}